@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
}

html{
    background-color: darkgreen;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #2E2672;
}

header {
    height: 100px;
    background-color: #31A17E;
}

nav {
    display: flex;
    justify-content: space-between;

}

button {
    padding: 10px;
    width: 25%;
    background-color: #31A146;
    color: white;
    cursor: pointer;
}

button:hover, button:active {
    background-color: darkgreen;
}

main {
    background: #1f4037; 
    background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);  
    background: linear-gradient(to bottom, #99f2c8, #1f4037); 
    
}

section {
    display: flex;
    justify-content: space-evenly;

}

.profilepic {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profilepic img {
    width: 50%;
    border-radius: 50%;
}

a:link, a:visited {
    color: white;
}

a:hover, a:active {
    color: black;
}

footer {
    height: 70px;
    background-color: #31A146;
    border-top: darkgreen solid 4px;
}

.rrss{
    list-style-type: none;
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
}

.rs {
    margin-left: 5px;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }
    button {
        width: 50%;
    }
    .profilepic {
        width: 100%;
        margin: 8% 0;
    }
    .profilepic img{
        width: 80%;
    }
}

@media (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    .profilepic {
        width: 100%;
    }
}